@model System.Data.DataTable

@{
    ViewBag.Title = "Index";
    Layout = "~/View/Shared/_MyLayout.cshtml";
}

<h2>Products</h2>

<div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>
               ProductId
            </th>
            <th>
                Product Name
            </th>
            <th>
                Rate
            </th>
            <th>
                Description
            </th>
            <th>
                Category Name
            </th>
        </tr>

        @for(int i = 0; i < Model.Rows.Count; i++)
        {
            <tr>
                <td>
                   <a href="@Url.Action("Edit", "Products", new {@id = Model.Rows[i][0] })">@Model.Rows[i][0]</a>
                </td>
                <td>
                    @Model.Rows[i][1]
                </td>
                <td>
                    @Model.Rows[i][2]
                </td>
                <td>
                    @Model.Rows[i][3]
                </td>
                <td>
                    @Model.Rows[i][4]
                </td>
            </tr>
        }

    </table>

</div>

